#gameField {
  border-collapse: collapse;
  background-color: gray;
}

#gameField td {
  border: thin black solid;
  width: 25px;
  height: 25px;
  text-align: center;
}

.digged{
  background-color: white;
}
